@font-face {
    font-family: "Montserrat";
    font-weight: 400;
    font-style: normal;
    font-display: auto;
    src: local("Montserrat"), url("./fonts/Montserrat-Regular.woff") format("woff");
}

@font-face {
    font-family: "Montserrat";
    font-weight: 600;
    font-style: normal;
    font-display: auto;
    src: local("Montserrat"), url("./fonts/Montserrat-SemiBold.woff") format("woff");
}

@font-face {
    font-family: "Montserrat";
    font-weight: 700;
    font-style: normal;
    font-display: auto;
    src: local("Montserrat"), url("./fonts/Montserrat-Bold.woff") format("woff");
}

* {
    box-sizing: border-box;
}

#app {
    font-family: "Montserrat", Arial, sans-serif;
}
